 @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Fira Mona' monospace;
    font-size: 18px;
    background-color: #2b5f94;
    color: #fff;
    line-height: 1;
    height: 100vh;
 }

 pre{
    text-align: center;
    color: #00b8f0;
 }

 .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
 }